.container {
  // background-color: gray;
  h1 {
    text-align: center;
  }

  .custom-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // background-color: red;
    // border: 1px solid orange;
    margin: 10px;
    img {
      width: 220px;
      height: 150px;
    }
  }
  button {
    margin: 10px;
    width: 150px;
  }
}
